    body {
        font-family: "Roboto", "sans-serif";
        display: inline-block;
    }

    ul {
        list-style: none;
        display: inline-block;
    }

    .link {
        text-decoration: none;
            
        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;
            
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: #4D5AE5;
    }

    .logo {
        text-decoration: none;

        font-weight: 800;
        font-size: 18px;
        line-height: 1.33;

        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        color: #2E2F42;
    }

    .linkstudio {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .linkstudio:hover, .linkstudio:focus {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;
        color: #4D5AE5;
    }

    .linkportf {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .linkportf:hover, .linkportf:focus {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;
        color: #4D5AE5;
    }

    .linkcont {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .linkcont:hover, .linkcont:focus {
        text-decoration: none;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #4D5AE5;        ;
    }

    .linktelmail {
        text-decoration: none;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #434455;
    }

    .linktelmail:hover, .linktelmail:focus {
        text-decoration: none;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;
        color: #4D5AE5;
    }

    .top {
        background-color: #2E2F42;
    }

    .top h1 {
        font-weight: 500;
        font-size: 56px;
        line-height: 1.07;

        text-align: center;
        letter-spacing: 0.02em;

        color: #FFFFFF;
    }

    .top button {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;

        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .top button:hover, .top button:focus {
        background-color: #404BBF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        display: flex;
        align-items: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .services h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;

        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .services p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #434455;
    }

    .rect h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        
        letter-spacing: 0.02em;

        text-transform: capitalize;
        color: #2E2F42;
    }

    .rectangle {
        box-sizing: border-box;
        background-color: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(2368.jpg);
        background-blend-mode: soft-light, normal;
        border: 1px solid #E7E9FC;
    }

    .team h2 {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        
        letter-spacing: 0.02em;

        text-transform: capitalize;
        color: #2E2F42;
    }

    .team ul {
    }

    .staff h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .staff p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;

        color: #434455;
    }

    .footer {
        background-color: #2E2F42;
    }
    .footer .logo {
        color: #F4F4FD;
    }

    .footer p {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        
        letter-spacing: 0.02em;
        
        color: #E7E9FC;
    }

    .portfolio-links button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 16px 32px;
        gap: 10px;

        width: 170px;
        height: 51px;
        left: 20px;
        top: 156px;

        background-color: #4D5AE5;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        display: flex;
        align-items: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .portfolio-links button:hover {
        cursor: pointer;
        background-color: #404BBF;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        display: flex;
        align-items: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }

    .portfolio-links button:focus {
        background-color: #4D5AE5;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
        border-radius: 4px;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;

        display: flex;
        align-items: center;
        letter-spacing: 0.04em;

        color: #FFFFFF;
    }
    .picture img {
        width: 360px;
        height: 300px;
        left: 0px;
        top: 0px;

        background-color: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)), url(4074365);
        background-blend-mode: soft-light, normal;
        mix-blend-mode: normal;
    }

    .picture h3 {
        width: 291px;
        height: 24px;

        font-weight: 500;
        font-size: 20px;
        line-height: 1.20;
        
        letter-spacing: 0.02em;

        color: #2E2F42;
    }

    .picture p {
        width: 75px;
        height: 24px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #434455;
    }

    .picture .inside {
        width: 296px;
        height: 96px;
        left: 32px;
        top: 40px;

        font-weight: 400;
        font-size: 16px;
        line-height: 1.50;

        letter-spacing: 0.02em;

        color: #F4F4FD;
    }